<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Toxiproxy Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log
            type="coverage-html"
            target="_reports/coverage"
            charset="UTF-8"
            yui="true"
            highlight="true"
            lowUpperBound="35"
            highLowerBound="70"
        />
        <log type="coverage-clover" target="_reports/clover.xml" />
        <log type="coverage-php" target="_reports/clover.cov" />
    </logging>
</phpunit>